@using MvcOnlineTicariOtomasyon.Models.siniflar;
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using(Html.BeginForm("index","Urun", FormMethod.Get))
{
    <p>
        Ürün Adı: @Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </p>
}
<br />
<table class="table table-bordered">
    <tr>
        @*<th>ID</th>*@
        <th>URUN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYAT</th>
        <th>SATIŞ FİYAT</th>
        <th>KATEGORİ</th>
        @*<th>GÖRSEL</th>*@
        <th>İŞLEMLER</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            @*<td>@u.UrunID</td>*@
            <td>@u.UrunAd</td>
            <td>@u.Marka</td>
            <td>@u.Stok</td>
            <td>@u.AlisFiyat</td>
            <td>@u.SatisFiyat</td>
            <td>@u.Kategori.KategoriAd</td>
            @*<td>@u.UrunGorsel</td>*@
            <td>
                <a href="/Urun/Urunsil/@u.UrunID" class="btn btn-danger">Sil</a>
                <a href="/Urun/UrunGetir/@u.UrunID" class="btn btn-success">Güncelle</a>
                <a href="/Urun/SatisYap/@u.UrunID" class="btn btn-info">Satış Yap</a>
                @*<a href="/Satis/YeniSatis/@u.UrunID" class="btn btn-info">Satış Yap</a>*@
            </td>
        </tr>
    }
</table>
<a href="/Urun/Yeniurun" class="btn btn-info">Yeni Ürün</a>

